@import "tailwindcss";

@font-face {
  font-family: supercharge3d;
  src: url(./assets/fonts/Supercharge3D-GO79P.woff);
}

@font-face {
  font-family: supercharge;
  src: url(./assets/fonts/SuperchargeCondensed-jE5KO.woff);
}
@font-face {
  font-family: avenis;
  src: url(./assets/fonts/Avenis.otf);
}
@font-face {
  font-family: avenis-light;
  src: url(./assets/fonts/Avenis-Light.otf);
}

*{
  box-sizing: border-box;
}

html,
body {
  @apply bg-background text-white ;
}

@theme {
  --color-background: oklch(17.4% 0.005 285.823);
}


@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-8px);
  }

  40% {
    transform: translateX(8px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}